body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto";
  height: 100vh;
}

.flex-container {
  display: flex;
  flex-direction: column;
  width: 35%;
  box-shadow: 0px 0px 20px black;
  padding: 20px;
}

.head {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.head > img {
  width: 200px;
  height: 50px;
}

.grid-container {
  display: grid;
  grid-template-rows: 3fr, 1fr, 3fr, 1fr;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  height: 50%;
}

p,
h3 {
  margin: 5px;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

th,
td {
  text-align: center;
}

.no-border {
  border: none;
}

.gray {
  background-color: #c0c0c0;
}
.right {
  text-align: right;
}

.left {
  text-align: left;
}

.small-font {
  font-size: 12px;
}
.cell-full {
  width: 100%;
}
.sign {
  border: 1px solid black;
}

.sign {
  height: 50px;
  width: 150px;
}
